
.calc{
    width:800px;
    height:800px;
    background: rgb(5 5, 5);
    margin-left:30px;
    margin-top: 25px;
    border-radius: 25px;
    }
P{
color: aliceblue;
padding-top: 100px ;
margin-left: 70px;
font-size:26px;
}
#screen{
 width: 70%;
 margin-left: 70px;
height: 80px;
margin-top: 40px;
 border-radius: 15px;
text-align: right;
background-color:  rgb(45, 161, 250);
border: 2px solid  lightskyblue;
font-size: 3rem;
cursor: pointer;

}

.btn{
width: 90px;
 height: 55px;
margin-left: 70px;
margin-top: 30px;
border-radius: 10px;
background: rgb(78,77, 77);
font-size: 2rem;
color: rgb(240,140, 9);
border:1px solid white
}
.clearbtn{
background: red;
width: 90px;
 height: 55px;
margin-left: 70px;
margin-top: 30px;
border-radius: 10px;
font-size: 2rem;
border: 1px solid rgb(246, 241, 246);    

}
.operatorbtn{
 border: 2px solid rgb(85, 2, 85);       
 width: 90px;
height: 55px;
margin-left: 70px;
margin-top: 30px;
border-radius: 10px;
background: lightsalmon;
font-size: 2rem; 

}
        
.btn:hover{       
border: solid 3px lawngreen;;
 }
.clearbtn:hover{
border: solid 3px lightgreen;
background: white;
        }
           
.operatorbtn:hover{
    border: solid 3px lightgreen;

}
 input #screen:hover{
    border: solid 3px lightgreen;


}
#screen:hover{
background: rgb(151, 151, 253);
border: 2px solid blue;
}



















